@font-face {
    font-family: "Vazir";
    font-weight: 400;
    font-style: normal;
    src: url("../assets/fonts/Vazir.woff") format(woff);
  }
  @font-face {
    font-family: "Vazir";
    font-weight: 700;
    font-style: normal;
    src: url("../assets/fonts/Vazir-Bold.woff") format(woff);
  }
  @font-face {
    font-family: "YekanNumbers";
    font-style: normal;
    src: url("../assets/fonts/YekanNumbers-Regular.woff") format(woff);
  }
  body ,
  button{
    font-family: "Vazir";
  }